body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 130%;
}

h1 {
  color: #203464;
  font-size: 3.225rem;
  margin-top: 50px auto 0 auto 0;
  font-family: 'Bungee Shade', cursive;
}

h2 {
  color: #83A2D0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #203464;
  font-family: 'Montserrat', sans-serif;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color #425C82;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6
}

.top-container {
  background-color: #f0e3ca;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #83A2D0;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.dev {
  text-decoration: underline;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 650px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.graphic-design {
  width: 23%;
  float: left;
  margin-right: 30px;
  object-fit:cover;
  border-radius:50%;

}

.computer {
  width: 23%;
  float: right;
  margin-left: 30px;
  object-fit:cover;
  border-radius:50%;


}
.one { font-style: italic; }
.two { font-style: italic; }

.btn {
  background: 83A2D0;
  background-image: -webkit-linear-gradient(top, 83A2D0, #0a5494);
  background-image: -moz-linear-gradient(top, 83A2D0, #0a5494);
  background-image: -ms-linear-gradient(top, 83A2D0, #0a5494);
  background-image: -o-linear-gradient(top, 83A2D0, #0a5494);
  background-image: linear-gradient(to bottom, 83A2D0, #0a5494);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #9eb5f0;
  background-image: -webkit-linear-gradient(top, #9eb5f0, #5272a1);
  background-image: -moz-linear-gradient(top, #9eb5f0, #5272a1);
  background-image: -ms-linear-gradient(top, #9eb5f0, #5272a1);
  background-image: -o-linear-gradient(top, #9eb5f0, #5272a1);
  background-image: linear-gradient(to bottom, #9eb5f0, #5272a1);
  text-decoration: none;
}
